# Mandatory (VERY VERY IMPORTANT, DO NOT DELETE IT OR RENAME IT, IF YOU DELETE IT OR RENAME IT, THE BOT WILL NOT WORK)
DISCORD_TOKEN=MTZ.... # YOUR DISCORD BOT TOKEN
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres # YOUR DATABASE URL, IN THIS PROJECT I WILL USE SUPABASE

# Optional (If you don't want to use them, it's fine, it will fall back to default values on config/settings.rs)
SQLITE_PATH=./db/theta_bot.db # IN THIS PROJECT I WILL NOT USE IT (DEFAULT ./data/cache.sqlite)
MAX_AI_WORKERS=999 # IN THIS PROJECT I WILL NOT USE IT (DEFAULT 3)
