# =================================================
#
#           WELCOME TO MY GITIGNORE >:3
#
# =================================================


/target

# Environment Sensitive
.env
.env.local
.env.development
.env.test
.env.production

# Local Database
*.db
